* {
  box-sizing: border-box;
}

body {
  font-family: Oswald, helvetica;
  margin: 0 auto;
  background: mediumseagreen;
  
}

main {
  width: 432px;
  margin: 0 auto;
  font-family: helvetica; 
}

header {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 10px;
  width: 100%;
  background: black;

}

h1 {
  background: ivory;
  width: 300px;
  border: 8px black double;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  font-family: Righteous, sans-serif;
}

p {
  text-align: center;
}

.instructions {
  margin: 8px 0;
}

.winner {
  display: inline-block;
  height: 40px;
  font-size: 2em;
  font-family: helvetica;
  margin: 10px 0 0 0;
}

.messages {
  color: ivory;
  text-align: center;
  font-size: 1.2em;
  height: 100px;
}

.square {
  border-radius: 8px;
  box-shadow: 8px 8px 8px darkgreen;
  display: inline-block;
  background: papayawhip;
  color: saddlebrown;
  margin: 4px;
  vertical-align: top;
  text-align: center;
  width: 136px;
  height: 136px;
  line-height: 136px;
  font-size: 100px;
}

.winning-square {
  transition: 250ms;
  color: orangered;
}

footer {
  width: 100%;
  background: black;
  color: ivory;
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 5px;
}