* {
  box-sizing: border-box;
}

body {
  font-family: 'Gloria Hallelujah', helvetica;
  margin: 20px auto;
  background: midnightblue;
}

.pad {
  width: 600px;
  height: 700px;
  margin: 0 auto;
  background: url("legal-pad.png");
  background-size: cover;
}

.board-container {
  position: relative;
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

main {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  width: 450px;
  height: 450px;
  top: 0;
  left: 0;
}

#board-sketch {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

canvas {
  margin: 0 auto;
}

h1 {
  width: 300px;
  height: 53px;
  line-height: 50px;
  color: ivory;
  margin: 30px auto 0 auto;
  text-align: center;
  font-size: 3em;
  font-family: "Permanent Marker", sans-serif;
}

p {
  text-align: center;
}

.player-name {
  text-decoration: underline;  
}

.player-name:hover {
  cursor: pointer;
}

.instructions {
  margin: 2px 0;
}

.winner {
  display: inline-block;
  height: 54px;
  line-height: 54px;
  width: 100%;
  font-size: 32px;
  margin: 0;
}

.messages {
  color: black;
  text-align: center;
  font-size: 1.2em;
  height: 100px;
  margin-bottom: 25px;
}

.square {
  display: inline-block;
  margin: 4px;
  vertical-align: top;
  text-align: center;
  width: 142px;
  height: 142px;
  line-height: 142px;
  font-size: 100px;
}

.winning-square {
  transition: 400ms;
  background: rgba(127,255,0,0.4);
  opacity: 20%;
}

footer {
  width: 100%;
  color: papayawhip;
  background-color: midnightblue;
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 5px;
}